<h1>Edit Sub</h1>

<%= render 'shared/errors', object: @sub %>

<form action="<%= sub_url(@sub) %>" method="post">
  <%= auth_token %>
  <%= hidden_patch %>

  <label>
    Title:
    <input type="text" name="sub[title]" value="<%= @sub.title %>">
  </label>
  <br>

  <label>Description:
    <textarea name="sub[description]" ><%= @sub.description %></textarea>
  </label>
  <br>

  <button>Submit</button>
</form>
