<h1> <%= @post.title %> </h1>

<%= @post.subs.map { |sub| sub.title.titleize }.join(", ") %>
<br>
<%= @post.url %>
<br>
<%= @post.content %>


<br>
<%= @post.author_name %>


<br>
<%= render "edit_post", post: @post %>

<br>
<% @post.subs.each do |sub| %>
  <a href="<%=sub_url(sub)%>">Back to <%= sub.title %> </a>
  <br>
<% end %>
