<!DOCTYPE html>
<html>
<head>
  <title>MusicApp</title>
  <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %> -->
</head>
<body>

<%= flash[:notice] %>


<%= yield %>
<br><br><br>
----------------------
<br>
<a href="<%= bands_url %>">All bands</a>
<br>
<%= render partial: "shared/logged_in" %>
<%= render partial: "shared/logged_out" %>

</body>
</html>
